<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Contact</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          <li>
            <a href="http://github.com/mrrts" target="_blank">
              <span class="icon"><i class="fa fa-github-square"></i></span>
              <span class="ext-link-title">GitHub</span>
            </a>
          </li>

          <li>
            <a href="http://linkedin.com" target="_blank">
              <span class="icon"><i class="fa fa-linkedin-square"></i></span>
              <span class="ext-link-title">LinkedIn</span>
            </a>
          </li>



        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
