.blog-list {
	margin-top: 80px;
}

.blog-list li {
	list-style-type: none;
	margin-top: 40px;
}

.blog-list .date-author {
	font-size: 14px;
}

p.side-note {
	width: 80%;
	margin: 0 auto;
	font-size: .7em;
}


code {
	font-size: 15px;
    display: inline-block;
    color: #50DC77;
    font-weight: 300;
    background-color: rgba(191, 168, 168, 0.25);
    padding: 0px 8px;
    border-radius: 5px;
    margin: 2px 0;
}

article p, article ul {
	margin-left: 30px;
}